p{
    font-size: 20px;
}

/*estilos referentes al titulo Foto #*/
a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: #3b5eb6d4;
}

/* Estilos para el carousel más pequeño */
.carousel-img {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

/* Estilos para los botones personalizados */
.custom-btn {
    background-color: #3b5eb6d4;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.custom-btn:hover {
    opacity: 0.85;
    background-color: #3b5eb6d4;
    color: white;
}

