body {
    overflow-x: hidden;
}
    
#container_principal {
    height: 100vh;    
    /*width: 2000px;
    height: 650px;*/
}
.cursor {
    cursor: pointer;
}

header {
    padding: 15px;
    width: 100%;
} 
footer {
    padding: 30px;        
}
    header h1 {
    text-align: center;
}
    footer h2 {
    text-align: center;
}
.fondo {
    background-color: #3b5eb6d4;
}


@media (max-width: 575px) {
    #container_principal {
        max-width: 100%;
        position: relative;
    }
    iframe {
        width: 100% !important;
    }
    footer {
        position: relative;
    }
}


@media (min-width: 576px) {
    #container_principal {
        max-width: 100%;
        position: relative;
    }
    iframe {
        width: 100% !important;
    }
}


@media (min-width: 768px) {
    #container_principal {
        max-width: 100%;

        position: relative;
    }
    iframe {
        width: 100% !important;
    }
}



@media (min-width: 992px) {
    #container_principal {
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }
    iframe {
        width: 100% !important;
    }
}

@media (min-width: 1400px) {
    #container_principal {
        width: 2000px;
        height: 700px;
    }
    header h1 {
        display: flex;
        justify-content: center;
    }
    footer h2 {
        display: flex;
        justify-content: center;
    }
    header {
        width: 100% !important;
    }
    footer {
        width: 100% !important;
    }
    iframe {
        width: 640px !important;
        height: 480px !important;
    }
}